{% extends 'base.html.twig' %}

{% block body %}
    <div class="book">
        <h3>{{ book.author }}</h3>
        <img src="/books/{{ book.image }}" alt="">
        <p>{{ book.name }}</p>
    </div>
{{ form_start(form) }}
{{ form_end(form) }}
{% endblock %}


