{% extends "base.html.twig" %}

{% block title %}AppBundle:Main:index{% endblock %}

{% block body %}
    <div class="header clearfix">
        <div class="left clearfix">
            <h1>{% trans %}Литература{% endtrans %}</h1>
            <a href="#">{% trans %}мои книги{% endtrans %}</a>
        </div>
        <div class="right clearfix">
            <a href="{{ path('app_main_locale', {'_locale': 'ru'}) }}">ру</a>
            <a href="{{ path('app_main_locale', {'_locale': 'en'}) }}">en</a>
            <a href="{{ path('app_main_register') }}">{% trans %}регистрация{% endtrans %}</a>
        </div>
    </div>
    <div class="janra">
        <h3>{% trans %}Жанры{% endtrans %}</h3>

        {% for category in categories %}
            <li><a href="/{{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </div>
    <div class="books">
        {% if categoryForShow != '' %}
            {% for book in categoryForShow.books %}
                <div class="book">
                    {{ book.name }}
                    <img src="books/{{ book.image }}" alt="">
                    <a href="{{ path('app_main_application', {'id': book.id}) }}">{% trans %}Получить{% endtrans %}</a>
                </div>
            {% endfor %}
        {% else %}
            {% for category in categories %}
                {% for book in category.books %}
                    <div class="book">
                        {{ book.name }}
                        <img src="books/{{ book.image }}" alt="">
                        <a href="{{ path('app_main_application', {'id': book.id}) }}">{% trans %}Получить{% endtrans %}</a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>


{% endblock %}
