.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.header{
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.janra{

    float: left;
}
.books{
    margin-left: 50px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 950px;
}
.book{
    width: 20%;
    margin: 10px;
}
.book img{
    max-width: 100%;
}
